#carouselExample .carousel-control-prev,
#carouselExample .carousel-control-next {
    width: 5%; 
}

#carouselExample .carousel-inner img {
    border-radius: 15px; 
}

#carouselExample .carousel-control-prev,
#carouselExample .carousel-control-next {
    border-radius: 50%; 
}